*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    background: #42455a;
}

.menu ul{
    display: inline-flex;
    margin: 50px 50px 25px;
}

.menu ul li{
    list-style: none;
    margin: 0 20px;
    color: #b2b1b1;
    cursor: pointer;
}

.logo img{
    width: 40px;
    margin-top: -18px ;
    margin-right: 48px;
}

.active{
    color: #fff !important;
}

.signup-btn{
    top: 40px;
    right: 80px;
    position: absolute;
    text-decoration: none;
    color: #fff;
    border: solid 2px transparent;
    border-radius: 20px;
    background-image: linear-gradient(#42455a,#42455a), radial-gradient(circle at top left,#fd00da,#19d7f8);
    background-origin: border-box;
    background-clip: content-box,border-box;
    
}

/* Button Gradient Property */
.btn-gradient-2 {
    background: linear-gradient(#42455a, #42455a) padding-box,
                linear-gradient(to right, darkblue, darkorchid) border-box;
    border-radius: 50em;
    border: 2px solid transparent;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: #fff;
    padding: 8px 25px;
    cursor: pointer;

    transition: ease-in-out.3s;
}

.btn-gradient-2:hover{
    background: rgb(48, 194, 227);
    border-radius: 50em;
    border: 2px solid rgb(48, 194, 227);
}

.signup-btn span{
    display: block;
    padding: 8px 22px;
}

.banner{
    position: absolute;
    width: 90%;
    height: 70vh;
    top: 15%;
    left: 120px;
    color: #fff;
}

.app-text{
    width: 40%;
    float: left;
    margin-top: 90px;
}

.app-text h1{ 
    font-size: 40px;
    font-weight: 400;
    width: 640px;
    position: relative;
}

.app-text p{ 
    font-size: 20px;
    width: 650px;
    margin: 30px 0 30px 0px;
    line-height: 25px;
    color: #fff;
}

.app-picture{
    width: 60%;
    float: right;
}


.app-picture img{
    width: 85%;
    margin-left: 40px;
    margin-top: -90px;
    
    animation: move 1.5s linear infinite alternate-reverse;
}

 @keyframes move{ 
    from {
        margin-top: -90px;
    }
    to { 
        margin-top: -50px;
    }
}


.play-btn{
    display: inline-flex;
   text-align: center;
}

.play-btn-inner{
    height: 50px;
    width: 50px;
    text-align: center;
    border: 2px solid transparent;
    border-radius: 50px;
    background-image: linear-gradient(#42455a,#42455a), radial-gradient(circle at top left,#fd00da,#19d7f8);
    background-origin: border-box;
    background-clip: content-box,border-box;
    
}


.ri-play-fill{
    text-align: center;
    font-size: 40px;
    top: 5px;
    position: relative;
    /* color: blueviolet; */

    height: 50px;
    width: 50px;
    background: radial-gradient( rgba(255, 0, 128, 0.8) 60%, rgba(255, 255, 255, 1) 62%);
    border-radius: 50%;
    /* margin: 100px auto; */
    box-shadow: 0px 0px 25px 3px rgba(255, 0, 128, 0.8);
}

.ri-play-fill:before{
    content: "";
    position: relative;
    /* width: 150%; */
    /* height: 150%; */
    animation-delay: 0s;
    animation: pulsate1 2s;
    animation-direction: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: steps;
    opacity: 1;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, .75);
    /* top: -30%; */
    /* left: -30%; */
    background: rgba(198, 16, 0, 0);
}
   



/*
.learn-btn{
    margin: none;
    margin-left: 30px;
    text-decoration: none;
    border: solid 2px transparent;
    border-radius: 20px;
    background-image: linear-gradient(#42455a,#42455a), radial-gradient(circle at top left,#fd00da,#19d7f8);
    background-origin: border-box;
    background-clip: content-box,border-box;
    
}
*/

.learn-btn {
    margin: auto 20px;
    cursor: pointer;
    font-size: 15px;
    color: #19dafa;
    letter-spacing: 3px;
    text-decoration: none;
}

.quick-links{
    left: 0;
    bottom: 0;
    position: absolute;
    background: linear-gradient(to right,#fd00da,#19d7f8);
}

.quick-links ul{
    display: inline-flex;
    margin: 30px auto;
    text-align-last: center;
}

.quick-links ul li {
    list-style: none;
    margin: 0px 50px;
    cursor: pointer;
}

.quick-links ul li i{
    color: #fff;
    font-size: 25px;
}
.quick-links ul li p{
    margin-top: 10px;
    color: #fff;
    font-size: 10px;
}

.social-icons{
    right: 72px;
    bottom: 35px;
    position: absolute;
}

.social-icons ul li{
    list-style: none;
    margin-top: 15px;
    text-align: center;
    
}

.social-icons ul li i{
    color: #999;
    border: 2px solid #999;
    padding: 5px;
    border-radius: 50%;
    display: block;
    
}





















.
